In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [18]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

**Importing the dataset**

In [5]:
data = pd.read_csv("Social_Network_Ads.csv")

In [6]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

**Splitting the dataset into the Training set and Test set**

In [7]:
le = LabelEncoder()
data['Gender'] =le.fit_transform(data['Gender'])

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [10]:
X = data.drop(columns=['User ID','Purchased'],axis=1)
Y = data['Purchased']

x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=14)

**Feature Scaling**

In [11]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

**Fitting K-NN to the Training set**

In [14]:
knn = KNeighborsClassifier(n_neighbors=5)

#Fitting the model
knn.fit(x_train,y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [17]:
ypred = knn.predict(x_test)

**Making the Confusion Matrix**

In [19]:
confusion_matrix(y_test,ypred)

array([[41,  7],
       [ 4, 28]])